@media only screen and (min-width: 375px)and (max-width:420px){
  body{
    background-color: #323D4E;
    
  }
  *{
    padding: 0;
    margin: 0;
  }
.Footer{
  position:fixed;
  top:620px;
  background-color: #E0E2E5;
  display:inline-block;
  width: 100%;
  text-align: center;
  padding-right: 0;
  margin-right: 0;
  
}

.ProductPlaceButton{width: 10%;
  float: left;
  padding-top: 9px;
  text-align: center;
  margin: 0;
  
}

.IconProfilButton{
  padding-top: 4px;
  width: 10%;
  float: left;
  text-align: center;
  margin: 0;
}


.HomeButton{
  width: 10%;
  padding-top: 7px;
  float: left;
  text-align: center;
  margin: 0;
  padding-left: 6%
}
.button{
  padding-top: 6px;
  padding-left:10%;
  padding-right:10%;
  width: 8%;
  float: left;
  text-align: center;
  margin: 0;
}

 
  .voeding{
    width: 100%;
    
  }



 .workshop{
    width: 100%;
  }

.event{
    width: 100%;
  }
  
  .titel{
    color: white;
    text-align: center;
    position: relative;
    top: -80px;
    text-decoration: none;
   
  }
  
.titel2{
  position: relative;
    top: -80px;
    color: white;
  text-align: center;
  text-decoration: none;
  
    
  
  }

.titel3{
  position: relative;
    top: -80px;
  text-align: center;
  text-decoration: none;
  
  color: white;
  
   
  
  }
  
  
  .Voedingbutton{
      background-image: url(../Fotos&Icons/Voeding%202%20copy.jpg);
   background-repeat: no-repeat;
   background-size: cover;
    padding-top: 170px;
   background-repeat: no-repeat;
   background-size: cover;
    padding-top: 170px;
    
  }
  
  .Workshopbutton{
    background-image: url(../Fotos&Icons/Workshop.jpg);
   background-repeat: no-repeat;
   background-size: cover;
    padding-top: 170px;
    
  }
  
  .Eventbutton{
background-image: url(../Fotos&Icons/Event.jpg);
   background-repeat: no-repeat;
   background-size: cover;
  padding-top: 170px;}

 
  
  
  hr{
    position: relative;
    top: -2px;
    border:none;
    height: 3px;
    background-color: white;
    padding: 0;
    margin:0;

}